/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

* {

  font-family: 'Raleway', sans-serif;

  padding: 0;

  margin: 0;

  box-sizing: border-box;

}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Raleway', sans-serif;
  color: #333;
  text-transform: uppercase;
}

/*
 * Override Bootstrap's default container.
 */

small {

  font-size: 0.5em;
}

.container {
  max-width: 60rem;
}

#chlogo {`
  height: 4em;
}

/*
 * Masthead for nav
 */

.navbar {
  margin-bottom: 3rem;
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1); 
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}


#usernav {

  text-transform: uppercase;
  color: #f48322;
  font-style: italic;
}


.navbar-toggler {

  border-width: 2px;
}


 Active state gets a caret at the bottom 
.nav-link.active {
  color: #fff;
}
.nav-link.active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


#starpic i {

  margin: 0 auto;
  line-height: 100px;
}

#gamebodyd {

  height: 100px;
  border: 0.5px solid #292f33;
}

#gameb {

  background-color: #f48322;

}

#gamename {

  color: #fff;
  font-weight: bold;

}

#gamedetails {

  color: #292f33;
  font-style: italic;

}

#venuetaglo {
  padding: 0;
  padding-left: 30px;
  background-color: #292f33;

}

#venuetag {

  background-color: #292f33;
  color: #fff;
  padding: 0;
  margin: 0;
}

#venuetag h2 {

margin: 0 auto;

}

#venuetag a {

  color: #fff;
  text-decoration: none;

}

#flash-message {
  
  position:absolute;

  bottom: 20px;

  right: 20px;

  z-index: 10;

  animation: flash-message 30s forwards;

}

@keyframes flash-message {
  0% {opacity: 1;}
  100% {opacity: 0; display: none;}
}

#tagul{

 display: table-cell;
 padding-left: 0;

}
/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


    /* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }

    #venuetaglo {
      padding-left: 0;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

